In [57]:
import pandas as pd
import numpy as np
import seaborn as sb
from sklearn.preprocessing import LabelEncoder

In [13]:
#Ans1: 
time=np.linspace(3,5,num=10)
marks=np.linspace(30,80,num=10)
df=pd.DataFrame({'time':time,'marks':marks})
df.corr('pearson')

       time  marks
time    1.0    1.0
marks   1.0    1.0

In [14]:
'''The above example shows the data of students who studied and got some marks the two columns were used time column
    shows how much the students studied before exams and marks column shows how much marks they got in the exam.
    Now the correlation is found between the time and marks and the value of pearson correlation is 1 which shows
    that there is very strong relatiion between the marks and time given to studies i.e. the larger is the value of 
    time given then the greater is the marks the student got.
'''

'The above example shows the data of students who studied and got some marks the two columns were used time column\n    shows how much the students studied before exams and marks column shows how much marks they got in the exam.\n    Now the correlation is found between the time and marks and the value of pearson correlation is 1 which shows\n    that there is very strong relatiion between the marks and time given to studies i.e. the larger is the value of \n    time given then the greater is the marks the student got.\n'

In [27]:
hrs_sleep=np.random.normal(loc=5,scale=1,size=15)
rating=np.random.randint(1,high=10,size=15)
emp_df=pd.DataFrame({'sleep':hrs_sleep,'rating':rating})
emp_df.corr('spearman')

           sleep    rating
sleep   1.000000  0.104234
rating  0.104234  1.000000

In [28]:
''' In the above example there are two columns in a database sleep and rating the random sample of 15 is taken from 
    and employee data and the correlation using spearman it is found to be 0.104234 which is the positive value and
    this denotes that there is weak relation between teh sleep and the rating given by the employee
'''

' In the above example there are two columns in a database sleep and rating the random sample of 15 is taken from \n    and employee data and the correlation using spearman it is found to be 0.104234 which is the positive value and\n    this denotes that there is weak relation between teh sleep and the rating given by the employee\n'

In [37]:
#Ans3:
hrs_ex=np.random.normal(loc=4,scale=1,size=50)
bmi=np.random.normal(loc=23,scale=2,size=50)
ex_df=pd.DataFrame({'Hours_of_exercise':hrs_ex,'BMI':bmi})

In [38]:
ex_df.corr('pearson')

                   Hours_of_exercise       BMI
Hours_of_exercise           1.000000  0.061192
BMI                         0.061192  1.000000

In [39]:
ex_df.corr('spearman')

                   Hours_of_exercise       BMI
Hours_of_exercise           1.000000  0.149004
BMI                         0.149004  1.000000

In [40]:
''' The spearman correlation technique shows more strong relation between the hours of exercise and bmi while the
    pearson shows the value lesser then the spearman and the hours of exercise has weaker then the spearman shows.
'''

' The spearman correlation technique shows more strong relation between the hours of exercise and bmi while the\n    pearson shows the value lesser then the spearman and the hours of exercise has weaker then the spearman shows.\n'

In [53]:
#Ans 4
tele_hrs=np.random.normal(loc=3,scale=1,size=50)
phy_level=np.random.randint(1,high=10,size=50)
tele_df=pd.DataFrame({'tele_hrs':tele_hrs,'phy_level':phy_level})
tele_df.corr('pearson')['phy_level']['tele_hrs']

-0.12952128705941626

In [54]:
#Ans5:
data=pd.DataFrame({'Age':[25,42,37,19,31,28],'Soft drink preference':['coke','pepsi','mountain dew','coke','pepsi','coke']})

In [61]:
lable=LabelEncoder()

In [63]:
data['drink encode']=lable.fit_transform(data['Soft drink preference'])

In [65]:
data.cov()

/tmp/ipykernel_84/4020818503.py:1: FutureWarning: The default value of numeric_only in DataFrame.cov is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  data.cov()

                    Age  drink encode
Age           68.666667      6.266667
drink encode   6.266667      0.966667